@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
.mobile_bg_opacity {
  background: #ffffff70;
}

:root {
  --white: #fff;
  --blue: #2a2d87;
  --red: #d70000;
  --opacity: #33333382;
}

body {
  font-family: 'Open Sans' !important;
  color: #333;
  font-size: 14px !important;
}

.bg_img {
  background-image: url('assets/img/bg-final.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #ffffff73;
}

.main-container, .flip_child, .referral_flip {
  max-width: 450px;
}
.none{
  display: none;
}
.bg_img, .mobile_bg_opacity, .bg_img {
  position: fixed;
  z-index: -1;
  max-width: 450px;
}

.referral_flip, .bg_img, .mobile_bg_opacity, .bg_img {
  height: 100%;
}

.referral_flip {
  z-index: 9;
  left: 0;
  background: var(--opacity);
}

.bg_img, .mobile_bg_opacity, .bg_img, .ajax-input, .ajaxlabel, .flip_child, .referral_flip {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.soc_img img {
  width: 30px;
}

.soc_img {
  margin-right: 5px;
}

.bg-white, .flip_child {
  background: #fff;
}

.social_btn_c {
  padding: 5px 12px 5px 5px;
  border-radius: 30px;
  width: 125px;
  margin: 0 5px;
}

.cursor, .social_btn_c, .password_h_show {
  cursor: pointer;
}

.soccontainer {
  margin: 10px 0;
}

.ppm_btn_blue {
  padding: 7px 15px;
  color: #fff!important;
  border: 2px solid #fff;
  border-radius: 7px;
}

.registerbtn, .ppm_btn_blue {
  background: #4354B2;
}

.log_bt, .registerbtn {
  border-radius: 20px!important;
  padding: 7px 25px!important;
}

.login_box {
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  margin: 20px 0;
}

.custom_focus:focus-within .ajaxlabel {
  transform: translate3d(0, 9px, 0) scale(0.75);
}

.ajax-input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
  padding-left: 0;
  border-color: rgba(0, 0, 0, .12);
  border-radius: 0;
  padding: 5px 0;
  display: block;
}

.ajaxlabel {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 3px;
  padding-right: 0;
  z-index: 1;
  -webkit-transform: translate3d(0, 28px, 0) scale(1);
  transform: translate3d(0, 28px, 0) scale(1);
  -webkit-transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
  transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
  transition: transform .4s cubic-bezier(.25, .8, .25, 1);
  transition: transform .4s cubic-bezier(.25, .8, .25, 1), -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
  max-width: 100%;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  margin: 0;
}

.ajax-input:focus {
  outline: none;
}

.f-9 {
  font-size: 9px;
}

.text-gray {
  color: gray;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.reg_now {
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #d7d7d7;
}

.reg_now, .have_referral {
  border-radius: 15px;
}

.have_referral {
  padding: 5px 15px;
  margin: 20px 0 0 0;
  color: #012566;
  border: 1px solid;
}

.text-blue {
  color: #4354b2;
}

.regmiddle {
  padding: 15px;
}

.verticle_middle, .verticle-middle {
  display: inline-block;
  vertical-align: middle;
}

.password_h_show img {
  width: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.relative {
  position: relative;
}

.password_h_show {
  width: 50px;
  height: 50px;
}

.password_h_show img, .password_h_show, .flip_child, .referral_flip {
  position: absolute;
}

.signin_right {
  background: #27ac11;
  padding: 10px 10px;
  border-radius: 0 10px 0 10px;
  margin-right: -15px;
}

.text-white {
  color: #fff;
}

.password_h_show {
  right: 0;
}

.f-10 {
  font-size: 10px;
}

.trouble_login {
  color: #F34340;
  text-decoration: underline;
}

/*Form Wizard*/

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard>.bs-wizard-step+.bs-wizard-step {}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  height: 22px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
  color: #5d5d5d;
  font-size: 11px;
  font-weight: 600;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  background: #2DCCF9;
  top: 43px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 7px #68DDFE;
  text-align: center
}

.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0px;
  height: 3px;
  box-shadow: none;
  margin: 30px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0px;
  box-shadow: none;
  background: #2dccf9;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.active1>.progress>.progress-bar {
  width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active1>.progress>.progress-bar {
  width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active1>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #CDCECE;
  box-shadow: 0px 0px 0px 7px #E9EBEB;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.bs-wizard-dot span {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
}

/*END Form Wizard*/

.verifsec {
  padding: 10px 5px;
}

button {
  border: none;
}

.flip_child {
  height: 300px;
  transition: all .3s;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

.referral_flip, .flip_child {
  bottom: 0;
}